body{
    background-color:antiquewhite;
}

*{
    margin:0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu','sans-serif';
}

nav ul{
    display:flex;
    list-style-type:none;
    height:50px;
    background-color:black;
    color:white;
    align-items:center;
    font-size: 20px;    
}

nav ul li{
    padding:0 10px;
}

.brand img{
    width:50px;
    padding:0 2px;
}

.brand{
    display: flex;
    align-items:center;
    font-weight: bolder;
    font-size: 1.6rem;
}

.container{
    height:75vh;

}

.bottom{

    position:sticky;
    height: 100px;
    background-color:black;
    display: flex;
    justify-content:center;
    color:white;
    align-items: center;
    flex-direction: column; 
}

#myprogressbar{
    width:80vw;
}


.icons{
margin-top: 15px;

}